/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;

    padding: 0 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .trigger,
main .counter {
    width: 100px;
    height: 100px;

    border: 1px solid black;
    border-radius: 50%;

    cursor: pointer;
    transition: border 0.2 ease-in-out;
}

main .trigger {
    background-color: red;
}

main .counter {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 800;
}

main .trigger:hover {
    border-width: 3px;
}
